<select (change)="onChange($event.target.value)">
  <option value="">beginner</option>
  <option value="1">medium</option>
  <option value="2">hard</option>
  <option value="3">death</option>
</select>

<div *ngIf="gameOver === false">
  <p>Mines: {{mines}}  Time: {{time}}</p>
  <table (click)="startTimer()" >
    <tr *ngFor="let row of board.boardArray">
      <td *ngFor="let cell of row" (click)="checkCell(cell)" class="cell">{{cell.mineCount}}</td>
    </tr>
  </table>
</div>


<div *ngIf="gameOver">
  <h2 >You lost!</h2>
  <button type="button" (click)="newGame()">New Game</button>
</div>

<div *ngIf="gameWin">
  <h2>You Win!</h2>
  <button type="button" (click)="newGame()">New Game</button>
</div>
